p {
    font-size: 24px;
    background-color: aquamarine;
}

.container {
    
    display: inline-block;
    text-align: center;
    background-color: blanchedalmond;
}

.main {
    text-align: center;
}